name: CI

on:
  push:
  pull_request:

env:
  GAME_VERSION: "EMERALD"
  GAME_REVISION: "0"
  GAME_LANGUAGE: "ENGLISH"
  COMPARE: "0"
  UNUSED_ERROR: "1"
  NPROC: "16"

jobs:
  build_rom:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y binutils-arm-none-eabi gcc-arm-none-eabi libnewlib-arm-none-eabi libpng-dev python3 golang-go make git

      - name: Build ROM
        run: make -j$(nproc) -O all

      - name: Upload ROM artifact
        uses: actions/upload-artifact@v4
        with:
          name: silicon-gba
          path: silicon.gba
          retention-days: 1

  test_rom:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    needs: build_rom
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download ROM artifact
        uses: actions/download-artifact@v4
        with:
          name: silicon-gba

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y binutils-arm-none-eabi gcc-arm-none-eabi libnewlib-arm-none-eabi libpng-dev python3 golang-go make git cmake libelf-dev

      - name: Build and test
        run: |
          make -j$(nproc) > /dev/null
          make -j$(nproc) check

      - name: Upload ROM artifact
        uses: actions/upload-artifact@v4
        with:
          name: silicon-gba-tested
          path: silicon.gba
          retention-days: 1
